@import './_overwrites.scss';
@import './_buttons.scss';
@import './_typography.scss';
@import './_transitions.scss';
@import './_palette.scss';

/*** FOUNDATIONAL ***/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16pt;
}

a {
  color: $rainbow3;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;

  &:hover {
  	text-decoration: none;
  	color: $rainbow4;
  }

  &:active {

  }

  &:visited {

  }
}